* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(../assets/vitaly-gariev-R_GkVNkqbtc-unsplash.jpg);
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  background-size: cover;
  object-fit: cover;
}

.form-container {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #e4e7e9;
  /* background-color: transparent; */
  backdrop-filter: blur(20px);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

h1 {
  text-align: center;
  color: #22252a;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0 5px;
  /* color: #555; */
}
input {
  background-color: transparent;
}
input,
select,
button {
  padding: 10px;
  border: 1px solid #8b97a5;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: #e4e7e9;
}

button {
  background-color: #3f434b;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #535b67;
}
