@import url("https://fonts.googleapis.com/css2?family=Playwrite+NL:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../assets/pexels-a-darmel-6643637.jpg);
  background-size: cover;
  object-fit: cover;
  font-family: "Montserrat", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  background-color: #373a40;
  width: 100%;
}

.nav-items a {
  text-decoration: none;

  margin-right: 10px;
  font-size: 18px;
  color: white;
}
.nav-items a:hover {
  text-decoration: underline;
}
.icon {
  color: white;
  font-size: 20px;
}
h1 {
  text-align: center;
  color: #373a40;
  font-family: "Playwrite NL", cursive;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.footer {
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #373a40;
  color: white;
  margin-bottom: 0;
  padding: 1px;
  font-size: 12px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 30px 0;
}

.card {
  padding: 20px;

  background-color: #e4e7e9;

  backdrop-filter: blur(20px);
  width: 150px;
  height: 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card-img {
  color: #373a40;
  margin-bottom: 10px;
}

.card-content p {
  font-weight: bold;
  color: #373a40;
}
.card a {
  text-decoration: none;
}
