<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/index.css">
</head>
<body>
    <div class="form-container">
        <h1>Enter Employee ID</h1>
        <form action="/updateEmployee" method="post">
          <label for="name">ID:</label>
          <input type="text" id="id" name="id" required />
         <a href="/updateEmployee"> <button type="submit">Delete Employee</button> </a>
          </div>
</body>
</html>