<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
    <link rel="stylesheet" href="style/index1.css" />
  </head>
  <body>
    <nav>
      <div class="navbar">
        <a class="icon" href="">
          <ion-icon size="large" name="logo-octocat"></ion-icon>
        </a>
        <div class="nav-items">
          <a href="">Home</a>
          <a href="">services</a>
          <a href="">Download</a>
          <a href="">Pets</a>
          <a href="">Care Center</a>
          <a href="">Contect Us</a>
        </div>
      </div>
    </nav>

    <div class="main-container">
      <h1>Wellcome to Pet Haven & Care</h1>

      <div class="card-container">
        <div class="card">
          <a href="/addpet">
            <div class="card-img">
              <ion-icon size="large" name="add-circle"></ion-icon>
            </div>
            <div class="card-content">
              <p>ADD Pet</p>
            </div>
          </a>
        </div>
        <div class="card">
          <a href="/updateForm">
            <div class="card-img">
              <ion-icon size="large" name="create-outline"></ion-icon>
            </div>
            <div class="card-content">
              <p>Update Adoptors</p>
            </div>
          </a>
        </div>
        <div class="card">
          <a href="/pets">
            <div class="card-img">
              <ion-icon size="large" name="paw-outline"></ion-icon>
            </div>
            <div class="card-content">
              <p>Pets Table</p>
            </div>
          </a>
        </div>
        <div class="card">
          <a href="/deletepet">
            <div class="card-img">
              <ion-icon size="large" name="trash-outline"></ion-icon>
            </div>
            <div class="card-content">
              <p>Delete Employee</p>
            </div>
          </a>
        </div>
        <div class="card">
          <a href="/employees">
            <div class="card-img">
              <ion-icon size="large" name="people-outline"></ion-icon>
            </div>
            <div class="card-content">
              <p>View Employees</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <footer>
      <div class="footer">
        <p>© Copyright 2024. All Rights Reserved.</p>
      </div>
    </footer>

    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
